<html>

<h1>Applicant Information</h1>


<%= link_to "Go Back", jobs_path %>
<html >
<div><h1>Applicant Information for job</li> </h1></div>
  <body>
  <table style="width:100%">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>ContactNumber</th>
        <th>InterviewingOptions</th>
        <th>ApplicationStatus</th>
      </tr>
  </tbody>
  <% @applicants.each do |applicant| %>
    <tr>
      <td><%=  applicant.first_name%></td>
      <td><%=  applicant.last_name %></td>
      <td><%=  applicant.email %></td>
      <td><%=  applicant.contact %></td>
      <td><%=  link_to 'ViewApplicantProfile', viewapplicantsprofile_jobs_path(:applicant_id=> applicant.id, :admin_email => @admin_email) %></td>
      <td> <%=  @statuses[applicant.id] %> </td>
  </tr>
  <% end %>
    </tbody>
</table>
</body>
</head>
</html>


</html>
